.navbar.navbar-expand-lg.navbar-light.bg-white.p-lg-1.p-3
  a.navbar-brand(href="")
    span  SLS
    br.mb-0
    span.tag-line.text-danger Speed Logistic Service
  button.navbar-toggler(data-toggle="collapse",data-target="#navbar",type="button")
    span.navbar-toggler-icon
  .navbar-collapse.collapse#navbar
    ul.navbar-nav.mx-auto
      li.nav-item
        a.nav-link.text-danger.font-weight-lighter(href="#top")
          span.fa.fa-home 
          span  Home
      li.nav-item
        a.nav-link.text-danger.font-weight-lighter(href="#service")
          span.fa.fa-cog
          span  Service
      li.nav-item
        a.nav-link.text-danger.font-weight-lighter(href="#about")
          span.fa.fa-info
          span  About
      li.nav-item
        a.nav-link.text-danger.font-weight-lighter(href="#contact")
          span.fa.fa-phone-alt
          span  Contact us
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link.text-primary(href="")
          span.fab.fa-facebook
      li.nav-item
        a.nav-link(href="",style="color:purple")
          span.fab.fa-instagram
      li.nav-item
        span.nav-link +020 154564564564
